/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

/*
    Comic Neue
    font-family: 'Bebas Neue', cursive;
    font-family: 'Bangers', cursive;
    font-family: 'Comic Neue', cursive;
*/


/*
=======================
    Root
=======================
*/


html  {
  padding: 0;
  margin: 0;

  /* Base Font for Rem sizes */
  /* 1.08 vw = 16px at any resolution more or less */
  font-size: 1.108vw;
  /* Default Font */
  font-family: 'Comic Neue', cursive;

}

html, body {
  padding: 0px;
  margin: 0px;
  color: white;
  background-color: black;
  /* background-color: grey; */
}

/*
=======================
    Header
=======================
*/

header {
  display: flex;
  flex-direction: row;
}

.header-title-image{
}

nav ul{
  list-style: none;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
/*
  border: 1px solid blue; */
}

nav li {
  margin: 0 .5em;

  text-decoration: none;
  font-size: 1.1rem;

  color: white;
  padding: .25px 0;
}

.list-item-img {
  /* width: 100%;
  max-width: 25%; */
  /* border: 1px solid red; */
}

.header-title-text{
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem;

  margin: auto;
  /* border: 1px solid blue; */
}

.bngs-font{
  font-family: 'Bangers', cursive;
}

.bbn-font{
  font-family: 'Bebas Neue', cursive;
}

.fngr-font{
  font-family: 'Finger Paint';
}


/*
=======================
    Container
=======================
*/

.container{
  width: 100%;
  /*
  max-width:1444px;
  */
  margin: auto;
}

.box-column{
  display: flex;
  flex-direction: column;
}

.box-row{
  display: flex;
  flex-direction: row;
}

section, footer{
  display:flex;
  width: 100%;

  justify-content: space-between;
  /* border: 1px solid purple; */
}

/* Icon styling */
.filter{
  filter: invert(100%);
}

/*
=======================
    Section 1 | Main/Text
=======================
*/

.section-1{
  justify-content: space-between;
  gap: 1em;
}

.text-container{
  width: 25%;
  /* border: 1px solid orange; */
  margin-left:1em;
}

.text-box{
  width: 100%;
  max-width: 85%;
}

.text-box > h2{
  text-transform: uppercase;
  margin: 0;
  color: #FFB3E4;
}

.text-box > p {
  margin: 0;
  margin-bottom: .5em;
}

.steps-box{

  justify-content: flex-end;

  /* border: 1px solid pink; */

  width: 52%;
}

.steps-box > h1{
  font-size: 3rem;
  margin: 0;
  margin-left: 1em;

  color: #FFB3E4;
}

.component-box{
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid red; */
}

.button-selection{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%;
}

.button-selection > h2{
  font-family: 'Finger Paint';
  font-size: 1.5rem;
  margin-top: 0px;
}

.button-selection > p {
  font-family: 'Comic Neue', cursive;
  font-size: 1.2rem;
  text-align: center;
}

.button-web3-prompts{
  padding: .5em;
  text-align: center;

  background-color: #66EFDF;
  border-radius: 20px;
  border: 5px solid #FFFFFF;

  color: white;
  font-size: 2rem;
}


.button-box-major{
  justify-content: space-evenly;
}

.button-box{
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
}

.button-box > h2{
  font-size: 1.5rem;

}

.button-box-1{
  max-width: 35%;
}


.button-box-2{
  max-width: 40%;
}


/*
=======================
    Section 2 | Mint
=======================
*/

.section-2{
  /* display: block; */
  flex-direction: column;
  width: 100%;
}

.special{
  width: 100%;
  display: flex;
  /* border: 1px solid green; */
}

.mint-text-box{
  justify-content: space-evenly;

  /* border: 1px solid pink; */
}

.mint-images{
  justify-content: center;
}

.section-2-h2{
  font-size: 9rem;
  padding: 0;
  margin: 0;
}

.head-blurb{
  align-self: flex-end;
  font-size: 1.5rem;
}

.west-text{
  position: relative;
  right: .8em;
  top: .5em;
}

.east-text{
  position: relative;
  left: .7em;
  top: .5em;
}

.num-box{
  font-size: 1rem;
  justify-content: center;
}

.mint-num{
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  color: #FFB3E4;
}

/*
=======================
    Section 3 | Info
=======================
*/

.section-3-head{
  font-size: 8rem;
  margin: 0;
  margin-left: .5em;
}

.phase-row{
  justify-content: space-evenly;
}

/*
=======================
    Section 3 | Info
=======================
*/
.footer{

  align-items: center;
  gap: .8rem;
  justify-content: flex-start;
}

.footer-text{
  text-align: center;
  font-size: 3.5rem;
  color: white;

  font-family: 'Bebas Neue', cursive;
}
